{{paper-input class="test-contact-name" label="Name" value=contact.name}}

{{#each contact.contactEmails as |email index|}}
  {{paper-input class="test-contact-email" label=(unless index "Primary E-mail" "Alternate E-mail") type="email" value=email.address}}
{{/each}}
{{#each contact.contactPhones as |phone index|}}
  {{paper-input class="test-contact-phone" label=(unless index "Primary Phone Number" "Alternate Phone Number") value=phone.number}}
{{/each}}
{{#paper-button raised=true primary=true class="submit" action="create"}}Save{{/paper-button}}
{{#paper-button}}Cancel{{/paper-button}}
{{#if error}}
  <div>
    <p class="alert-danger">There was an error saving this contact. Please try again.</p>
  </div>
{{/if}}
