{{#paper-list}}
  {{#each model as |contact|}}
    {{#link-to "contacts.edit" contact.id class="test-contact"}}
      {{#paper-item }}
        {{#paper-checkbox}}{{/paper-checkbox}}
        <span style="padding-right: 1rem;">{{paper-icon "star border"}}</span>

        <p class="test-contact-name">{{contact.name}}</p>
        <p class="test-contact-primary-email">{{contact.contactEmails.firstObject.address}} (+{{contact.contactEmails.length}})</p>
        <p class="test-contact-primary-phone">{{contact.contactPhones.firstObject.number}} (+{{contact.contactPhones.length}})</p>
      {{/paper-item}}
    {{/link-to}}
    {{paper-divider}}
  {{/each}}
{{/paper-list}}
