{{#paper-nav-container}}
  {{#paper-sidenav class="md-sidenav-left md-whiteframe-z2" locked-open="gt-sm"}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <strong>Mail</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}
        {{#paper-item}}
          {{#paper-button raised=true primary=true action="compose"}}
            Compose
          {{/paper-button}}
        {{/paper-item}}

        {{#paper-item}}
          {{#link-to "mail.folder" "inbox"}}Inbox{{/link-to}}
        {{/paper-item}}

        {{#paper-item}}
          {{#link-to "contacts"}}Contacts{{/link-to}}
        {{/paper-item}}

        {{#paper-item}}
          <a href="#">Spam</a>
        {{/paper-item}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle as |toggle|}}
          {{#paper-button target=toggle icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
        {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">John Doe's Mail</span>
        <span style="flex:1"></span>
        {{#paper-button iconButton=true}}
          {{paper-icon "more_vert"}}
        {{/paper-button}}
      </div>
    {{/paper-toolbar}}

    {{#paper-content class="md-padding md-whiteframe-z1"}}
      {{outlet}}
    {{/paper-content}}
  </div>
{{/paper-nav-container}}
